 <div class="container-fluid">
    <div class="container">

      <div class="panel panel-default">
        <div class="panel-body">
            <h4>Display Info</h4>
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>display information</ng-template>
                     <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">language: </label><br>
                                <select name="language" formControlName="language">
                                    <option *ngFor="let language of languages$ | async" [ngValue]="language">{{language | translate}}</option>
                                </select>
                                <div *ngIf="(firstFormGroup.controls.language.touched) && firstFormGroup.controls.language.errors">
                                <span *ngIf="firstFormGroup.controls.language.invalid" class="msg-error">Error</span>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="form-group col-md-4 required">
                            <label class="control-label">Article Headline</label>
                            <input type="text" name="articleHeadline" formControlName="articleHeadline" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.articleHeadline.touched) && firstFormGroup.controls.articleHeadline.errors">
                            <span *ngIf="firstFormGroup.controls.articleHeadline.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 required">
                            <label class="control-label">Article Snippet</label>
                            <input type="text" name="articleSnippet" formControlName="articleSnippet" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.articleSnippet.touched) && firstFormGroup.controls.articleSnippet.errors">
                            <span *ngIf="firstFormGroup.controls.articleSnippet.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 required">
                            <label class="control-label">text</label>
                            <!-- <input  type="text" formControlName="text" class="form-control"/> -->
                            <textarea style = "height:500px" class="input" class="form-control" name="text" formControlName="text"></textarea>
                            <div *ngIf="(firstFormGroup.controls.text.touched) && firstFormGroup.controls.text.errors">
                            <span *ngIf="firstFormGroup.controls.text.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">readingTime</label>
                            <input type="text" name="readingTime" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" formControlName="readingTime" class="form-control"/>
                            <div *ngIf="(firstFormGroup.controls.readingTime.touched) && firstFormGroup.controls.readingTime.errors">
                            <span *ngIf="firstFormGroup.controls.readingTime.invalid" class="msg-error">Error</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <ng-template matStepLabel>Additional Info</ng-template>
                     <form *ngIf="secondFormGroup" [formGroup]="secondFormGroup">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">images</label>
                                <input type="file"  name="images" formControlName="images" (change)="selectImage($event)" class="form-control"/>
                                <div *ngIf="(secondFormGroup.controls.images.touched) && secondFormGroup.controls.images.errors">
                                <span *ngIf="secondFormGroup.controls.images.invalid" class="msg-error">Error</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">locationCode</label>
                                <input type="text" name="locationCode" formControlName="locationCode" class="form-control"/>
                                <div *ngIf="(secondFormGroup.controls.locationCode.touched) && secondFormGroup.controls.locationCode.errors">
                                <span *ngIf="secondFormGroup.controls.locationCode.invalid" class="msg-error">Error</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-default" matStepperPrevious>Back</button>
                                <button class="btn btn-primary" matStepperNext>Next</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Your Post is complete please press submit button to submit information, or press back to adjust Post </p>
                <div>
                    <button class="btn btn-default" matStepperPrevious>Back</button>
                    <button class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
       </div>
    </div>
    <button type="button" class="btn btn-default pull-left" (click)="backButton()">{{'CANCEL' | translate}}</button>
</div>
