<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{{'Towns' | translate}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div [ngClass]="{'editState':editState.town}">
                        <form *ngIf="countryData._id" #o="ngForm" (ngSubmit)="submitEditcountryData()">
                            <ul class="list-group">
                                <li class="list-group-item  panel-heading">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5><i></i>Towns in {{countryData.country}}:  </h5>
                                            
                                            <select #selectList (change)="clickTown(selectList.value)">
                                                <option disabled>Select a town</option>
                                                <option *ngFor="let town of countryData.list; let i = index" [attr.data-index]="i" [value]="i">{{town.name}}</option>
                                            </select>

                                            <a class="glyphicon glyphicon-pencil btn btn-primary pull-right"
                                                (click)="editState.town = !editState.town"></a>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item"><label>_id</label>
                                    <span class="readContent">{{modifiedTown._id}}</span>
                                    <input type="text" disabled class="form-control" name="_id" [(ngModel)]="modifiedTown._id" [ngModelOptions]="{updateOn:'submit'}"/>
                                </li>
                                <li class="list-group-item"><label>Name</label>
                                    <span class="readContent">{{modifiedTown.name}}</span>
                                    <input type="text" class="form-control" name="name" [(ngModel)]="modifiedTown.name" [ngModelOptions]="{updateOn:'submit'}"/>
                                </li>
                                <li class="list-group-item"><label>Population</label>
                                    <span class="readContent">{{modifiedTown.pop}}</span>
                                    <input type="text" class="form-control" name="pop" [(ngModel)]="modifiedTown.pop" [ngModelOptions]="{updateOn:'submit'}"/>
                                </li>
                                <li class="list-group-item"><label>location</label>
                                    <span class="readContent">{{modifiedTown.location}}</span>
                                    <input type="text" disabled class="form-control" name="location" [(ngModel)]="modifiedTown.location" [ngModelOptions]="{updateOn:'submit'}"/>
                                </li>
                                <li class="list-group-item editBtns">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button (click)="editState.town = !editState.town"
                                                class="btn btn-default pull-left">Cancel</button>
                                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-left" (click)="backButton()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>