<div class="panel panel-default">
    <div class="panel-body">
        <h3>{{'MANAGE_NEWS' | translate}}</h3>
        <form [formGroup]="searchFormGroup" (ngSubmit)="onPageChange('search')">
            <div class="well">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <mat-form-field>
                            <mat-label>Property Type</mat-label>
                            <mat-select formControlName='approved'>
                              <mat-option value="">All</mat-option>
                              <mat-option value=true>Published</mat-option>
                              <mat-option value=false>unPublished</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>{{'ARTICLE_HEADLINE' | translate}}</label>
                        <input type="text" class="form-control" formControlName='articleHeadline'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="button btn btn-primary pull-right">{{'SEARCH' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-default pull-right" (click)="addPost()">{{'ADD_POST' | translate}}</button>
        <app-data-table [Columns]="colDefinitions" [Data]='data' [(GeneralSettings)]="generalSettings"
            [ExpansionSettings]="expansionSettings" [PageSettings]="pageSettings"></app-data-table>
    </div>
</div>