<div class="panel panel-default">
    <div class="panel-body">
        <h3>{{'MANAGE_PROPERTIES' | translate}}</h3>
        <form [formGroup]="searchFormGroup" (ngSubmit)="onPageChange('search')">
            <div class="well">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>{{'city' | translate}}</label>
                        <input type="text" class="form-control" formControlName='city'>
                    </div>
                    <div class="col-md-3 form-group">
                        <mat-radio-group aria-label="Select an option" formControlName='searchType'>
                            <mat-radio-button value="Sale">Sale</mat-radio-button>
                            <mat-radio-button value="Rent">Rent</mat-radio-button>
                          </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <mat-form-field>
                            <mat-label>Property Type</mat-label>
                            <mat-select formControlName='propertyType'>
                              <mat-option value="">All</mat-option>
                              <mat-option value="APARTMENT">Apartement</mat-option>
                              <mat-option value="HOUSE">House</mat-option>
                              <mat-option value="LAND">Land</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose created date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName='date'>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="button btn btn-primary pull-right">{{'SEARCH' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
        <app-data-table [Columns]="colDefinitions" [Data]='data' [(GeneralSettings)]="generalSettings"
             [PageSettings]="pageSettings"></app-data-table>
    </div>
</div>