<div class="well">
    <form [formGroup]="editFormGroup" (ngSubmit)="updateArticleHeadLine()">
        <div class="row">
            <div class="col-sm-4 form-group">
                <label>{{'AUTHOR' | translate}}</label>
                <input class="form-control" formControlName='userId'>
            </div>
            <div class="col-sm-4 form-group">
                <label>{{'ARTICLE_HEADLINE' | translate}}</label>
                <input class="form-control" formControlName='articleHeadline'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default pull-left" (click)="cancelButton()">{{'CANCEL' | translate}}</button>
                <button type="submit" class="button btn btn-primary pull-right">{{'SUBMIT' | translate}}</button>
            </div>
        </div>
    </form>
</div>
